{% extends 'rateme/base.html' %}

{% block content %}
    <div class="row">
        {% for project in object_list %}
            <div class="col-md-3">
                <div class="card">
                    <h3>{{ project.title }}</h3>
                    <a href="#" target="_blank"><img style="width: 200px; height: 200px;"
                                     src="{{ project.image.url }}"
                                     alt="project image"></a>

                    <p>
                        {{ project.description }}
                    </p>
                    <a href="{{ project.link }}">Go to Website</a>
                    {##}
                    {#                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
                    {#                </div>#}
                    {##}
                    {#            </div>#}
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock content %}
