{% extends 'rateme/base.html' %}

{% block content %}
    <div class="row">
        {% for project in object_list %}
            <div class="col-md-3">
                <div class="card">
                    <h3>{{ project.title }}</h3>
                    {#                    <a href="{% url 'post_detail' post.id %}"><img style="width: 300px; height: 300px;"#}
                    {#                                                                   src="{{ post.image.url }}"#}
                    {#                                                                   alt="post image"></a>#}

                    {#                    <p>#}
                    {#                        <small>{{ post.image_caption }}</small>#}
                    {#                    </p>#}
                    {##}
                    {#                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
                    {#                </div>#}
                    {##}
                    {#            </div>#}
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock content %}
