{% extends 'rateme/base.html' %}
{% load mathfilters %}
{% block content %}
    {% if rating %}
            {% for rating in object_list %}

        <p><strong>Rated By: </strong>{{ rating.author }} <strong>Content:</strong> {{ rating.content }}
            <strong>Design:</strong> {{ rating.design }}
            <strong>Usability:</strong> {{ rating.usability }} </p>

        <p>Total: {{ rating.content|add:rating.design|add:rating.usability }} </p>


    {% endfor %}

    {% else %}
        <h1>No Ratings Yet for this project</h1>
    {% endif %}


{% endblock content %}
