{% extends 'rateme/base.html' %}
{% load mathfilters %}
{% block content %}

    {% for rating in object_list %}

        <p><strong>Rated By: </strong>{{ rating.author }} <strong>Content:</strong> {{ rating.content }}
            <strong>Design:</strong> {{ rating.design }}
            <strong>Usability:</strong> {{ rating.usability }} </p>

        <p>Total: {{ rating.content|add:rating.design|add:rating.usability }} </p>


        {#                <a href="{% url 'project-detail'  project.id %}" target="_blank"><img#}
        {#                        style="width: 200px; height: 200px;"#}
        {#                        src="{{ project.image.url }}"#}
        {#                        alt="project image"></a>#}
        {##}
        {#                <p>#}
        {#                    {{ project.description }}#}
        {#                </p>#}
        {#                <a href="{{ project.link }}">Go to Website</a>#}
        {#                <a href="{% url 'rate_project' project.id %}">Rate Project</a>#}
        {#                <a href="{% url 'view_ratings' project.id %}">View Ratings</a>#}




    {% endfor %}


{% endblock content %}
